

.page--enterprise-contact .hero
{
    padding-bottom: 2em;
}
.page--enterprise-contact .section h2
{
    margin-bottom: .5em;
}
.page--enterprise-contact .site-footer
{
    padding-top: 2.618em;
}
.page--enterprise-contact .site-footer .hr--top::after
{
    display: none;
}
.page--enterprise-contact-sitecore .hero
{
    padding-bottom: 0;
}
.hero--enterprise
{
    background: linear-gradient(-90deg,#0d303c,#091e26);
}
.hero--enterprise+.wave
{
    transform: translateY(-80%);
}
.section--enterprise-form
{
    text-align: left;
}
.section--enterprise-form .grid
{
    align-items: stretch;
    max-width: 29.03em;
}
.section--enterprise-form .grid>*
{
    flex-basis: 29.03em;
}
@media (min-width:60em)
{
    .section--enterprise-form .grid
    {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 64.914em;
    }
}
.section--enterprise-form .card
{
    max-width: none;
}
.section--enterprise-form .logos
{
    margin: 2.618em -.618em;
    opacity: .87;
    text-align: center;
}
@media (min-width:60em)
{
    .section--enterprise-form .logos
    {
        text-align: left;
    }
}
.section--enterprise-form .logos svg
{
    margin: .618em;
    vertical-align: top;
}
.section--enterprise-stats
{
    text-align: center;
}
.section--enterprise-stats ul
{
    color: #00ad9f;
    display: flex;
    flex-wrap: wrap;
    font-family: MADE-Dillan,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: calc(2.618em + 1vw);
    font-weight: 500;
    justify-content: space-around;
    line-height: 1.2;
    margin-top: 0;
    max-width: 6.854em;
}
@media (min-width:60em)
{
    .section--enterprise-stats ul
    {
        margin-top: .618em;
        max-width: none;
    }
}
@media (min-width:70em)
{
    .section--enterprise-stats ul
    {
        font-size: 4em;
    }
}
.section--enterprise-stats li
{
    margin: .5em;
}
.section--enterprise-stats span
{
    font-size: .5em;
}
.section--enterprise-stats small
{
    color: rgba(14,30,37,.54);
    display: block;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .85rem;
    font-weight: 400;
}
@media (min-width:32em)
{
    .section--enterprise-stats small
    {
        font-size: 1rem;
    }
}
.section--enterprise-case-study
{
    padding: 0;
}
.section--enterprise-case-study .card
{
    margin: 2.618em auto;
    overflow: hidden;
    padding: 0;
}
.section--enterprise-case-study .card p
{
    margin-top: 1em;
}
.section--enterprise-case-study .card .media-body
{
    color: rgba(14,30,37,.54);
    margin-top: 0;
    padding: 1.618em;
}
.section--enterprise-case-study .card .media-figure
{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    order: -1;
    overflow: hidden;
}
.section--enterprise-case-study .card .media-figure svg
{
    height: auto;
    left: 1%;
    position: relative;
    width: 102%;
}
@media (min-width:46em)
{
    .section--enterprise-case-study .card
    {
        max-width: 46.971em;
    }
    .section--enterprise-case-study .card .media
    {
        flex-direction: row;
    }
    .section--enterprise-case-study .card .media-figure
    {
        order: 1;
    }
}
.compat-grid
{
    display: grid;
    grid-template-columns: [full-start] minmax(1.6rem,1fr) [standard-start] 0 [narrow-start] minmax(.8rem,54rem) [narrow-end] 0 [standard-end] minmax(1.6rem,1fr) [full-end];
    padding: 0;
    position: relative;
}
@media (min-width:50rem)
{
    .compat-grid
    {
        grid-template-columns: [full-start] minmax(1.6rem,1fr) [standard-start] 3rem [narrow-start] minmax(.8rem,54rem) [narrow-end] 3rem [standard-end] minmax(1.6rem,1fr) [full-end];
    }
}
a[href].underline-inherit.underline-inherit:hover
{
    text-decoration: none;
}
a[href].underline-inherit.underline-inherit:hover .underline-inherited
{
    text-decoration: underline;
}


.visually-hidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.heading-center
{
    text-align: center;
}

@media (max-width:63.1875em)
{
    .platform-meganav-cta,.platform-meganav-p
    {
        display: none;
    }
    .platform-meganav-platformlink svg
    {
        display: none;
    }
    .platform-meganav-subhed
    {
        cursor: default;
        line-height: 1.5;
        margin-bottom: 0;
        padding: .6em 1.2em .6em 2.4em;
    }
    a[href]:focus .platform-meganav-subhed,a[href]:hover .platform-meganav-subhed
    {
        cursor: pointer;
    }
    .platform-meganav-logolist-logo
    {
        display: none;
    }
    .masthead-nav-dropdown-content .platform-meganav-subhed
    {
        font-size: 1.25em;
        letter-spacing: 0;
        text-transform: none;
    }
}

.paragraph
{
    font-size: 1em;
    line-height: 1.75;
}
.paragraph a:hover
{
    color: black;
    text-decoration: none;
}
.paragraph-center
{
    text-align: center;
}
.paragraph-large
{
    font-size: 1.25em;
    line-height: 1.8;
}
.paragraph-lh-inherit
{
    line-height: inherit;
}

@keyframes call-for-attention
{
    from,to
    {
        transform: scale(1,1);
    }
    25%
    {
        transform: scale(.8,1.2);
    }
    50%
    {
        transform: scale(1.2,.8);
    }
    75%
    {
        transform: scale(.9,1.1);
    }
}
:root
{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.25rem;
}
body
{
    background: #fff;
    color: rgba(14,30,37,.54);
    font-size: 1rem;
    line-height: 1.618;
}
.inverse
{
    background: #0e1e25;
    color: rgba(255,255,255,.9);
}
.h1,.h2,.h3,.h4,h1,h2,h3,h4,h5,h6
{
    color: #0e1e25;
    font-weight: 500;
    margin: 1.618em auto 0;
}
.inverse .h1,.inverse .h2,.inverse .h3,.inverse .h4,.inverse h1,.inverse h2,.inverse h3,.inverse h4,.inverse h5,.inverse h6
{
    color: #fff;
}
.h1+p,.h2+p,.h3+p,.h4+p,h1+p,h2+p,h3+p,h4+p,h5+p,h6+p
{
    margin-top: .5em;
}
.h1,h1
{
    color: #00ad9f;
    font-family: MADE-Dillan,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 2em;
    font-weight: 600;
    line-height: 1.333;
}
@media (min-width:32em)
{
    .h1,h1
    {
        font-size: calc(2.618em + 1vw);
        line-height: 1.2;
    }
}
@media (min-width:60em)
{
    .h1,h1
    {
        font-size: 4em;
    }
}
@media (min-width:60em)
{
    .h1--smaller
    {
        font-size: 3em;
    }
}
.h2,h2
{
    font-size: 1.618em;
    font-weight: 600;
    line-height: 1.333;
}
@media (min-width:60em)
{
    .h2,h2
    {
        font-size: 2em;
        font-weight: 500;
    }
}
.h2-display
{
    color: #2d3b41;
    font-family: MADE-Dillan,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.5em;
}
@media (min-width:32em)
{
    .h2-display
    {
        font-size: 2em;
    }
}
@media (min-width:60em)
{
    .h2-display
    {
        font-size: 2.5em;
    }
}
.h3,h3
{
    font-size: 1.3em;
    line-height: 1.333;
}
.h4,h4
{
    font-size: 1.1em;
    line-height: 1.4;
}
.title-no-margin-top
{
    margin-top: 0;
}
blockquote,ol,p,ul
{
    margin: 1em auto 0;
    padding: 0;
}
p
{
    max-width: 37.577em;
}
ul
{
    list-style: none;
}
.intro
{
    color: rgba(14,30,37,.8);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.45;
    margin-top: .618em;
}
.inverse .intro
{
    color: #fff;
}
.subdued
{
    color: rgba(14,30,37,.54);
}
.icon
{
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}
.emoji
{
    color: #000;
}
hr
{
    background-color: #e0e0e0;
    border: 0;
    height: 1px;
    opacity: 1;
}
.hr
{
    position: relative;
}
.hr::after
{
    background-color: #e0e0e0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
}
.inverse .hr::after
{
    background-image: linear-gradient(-90deg,rgba(255,255,255,0) 0,#fff 5%,#fff 90%,rgba(255,255,255,0) 100%);
}
.hr--bottom::after
{
    bottom: 0;
}
.hr--top::after
{
    top: 0;
}
.vr
{
    border-right: 2px solid rgba(14,30,37,.09);
}
.inverse .vr
{
    border-color: rgba(255,255,255,.2);
}
sup
{
    font-size: .5em;
}
.subtitle
{
    display: block;
    font-size: .54em;
    margin-bottom: .5em;
}
.subtitle--before
{
    color: #fa3946;
}
.subtitle--after
{
    color: #00c7b7;
}

.container
{
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1em;
    position: relative;
}
.container::after,.container::before
{
    clear: both;
    content: "";
    display: table;
}

@media (min-width:32em) {
    .container {
        padding: 0 1.618em;
    }

    @media (min-width: 60em) {
        .container {
            padding: 0 2em;
        }

    }
    .Container--narrow {
        max-width: 50rem;
    }

    .Container--narrower {
        max-width: 31rem;
    }

    .Container--narrow__img {
        width: 100%;
    }

    .media {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: .85rem;
        justify-content: center;
        margin: 1.618em auto auto;
        text-align: left;
    }

    @media (min-width: 60em) {
        .media {
            flex-direction: row;
        }
    }
    .media-body, .media-img {
        margin-top: 1.618em;
    }

    @media (min-width: 60em) {
        .media-body, .media-img {
            margin-top: 2.618em;
        }
    }
    .media-body {
        max-width: 29.03em;
    }

    .media-body > :first-child {
        margin-top: 0;
    }

    .media-img {
        order: -1;
        text-align: center;
    }

    .media-img svg {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    @media (min-width: 60em) {
        .media-img {
            margin-left: 2.618em;
            order: 1;
        }
    }
    .grid {
        display: flex;
        flex-direction: column;
        font-size: .85rem;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    .grid > * {
        margin-top: 1.618em;
    }

    @media (min-width: 32em) {
        .grid {
            align-items: center;
            justify-content: center;
        }
    }
    @media (min-width: 60em) {
        .grid {
            align-items: stretch;
            flex-direction: row;
            justify-content: space-between;
            margin-left: -2.618em;
        }

        .grid > * {
            margin-top: 2.618em;
            padding-left: 2.618em;
        }
    }

    .link, a {
        color: #00ad9f;
        outline-color: #00c2b2;
        text-decoration: none;
    }

    .link:hover, a:hover {
        text-decoration: underline;
    }

    .inverse .link, .inverse a {
        opacity: .8;
    }

    .inverse .link:focus, .inverse .link:hover, .inverse a:focus, .inverse a:hover {
        opacity: 1;
    }

    @keyframes button-loading {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 700% 0;
        }
    }
    .button {
        background: #15847d;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: .9rem;
        font-weight: 600;
        line-height: 1.618em;
    //  moz-osx-font-smoothing: grayscale;
        outline: 0;
        padding: .382em 1em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        transition: all .15s ease;
        vertical-align: middle;
    //  webkit-font-smoothing: antialiased;
        z-index: 1;
    }

    .button:focus, .button:hover {
        color: #fff;
        opacity: .85;
        text-decoration: none;
    }

    .button:active {
        background-color: #00a396;
        box-shadow: none;
    }

    .button:disabled {
        box-shadow: none;
        opacity: .38;
        pointer-events: none;
    }

    .inverse .button {
        opacity: 1;
    }

    ::placeholder {
        opacity: .6;
    }

    label {
        cursor: pointer;
    }

    .form-select-optin, input:not([type=checkbox]), textarea {
        background-color: #fff;
        border: 2px solid rgba(14, 30, 37, .09);
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        color: #0e1e25;
        display: block;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: inherit;
        font-weight: 500;
        line-height: 1.618em;
        margin: 0;
        outline-color: #ffc60a;
        padding: .382em 1em;
        transition: box-shadow ease-in-out .15s;
        width: 100%;
    }

    .error .form-select-optin, .error input:not([type=checkbox]), .error textarea {
        border-color: #fa3946;
        outline-color: #fdd3d6;
    }

    .form-checkbox {
        align-items: flex-start;
        display: flex;
        padding-top: .8em;
    }

    .form-checkbox input[type=checkbox] {
        flex-shrink: 0;
        margin-right: .85rem;
    }

    input[type=checkbox] {
        background-color: rgba(14, 30, 37, .03);
        border: 2px solid rgba(14, 30, 37, .38);
        border-radius: 4px;
        height: .85rem;
    //  moz-appearance: none;
        outline-color: #ffc60a;
    // webkit-appearance: none;
        width: .85rem;
    }

    input[type=checkbox]:checked {
        background: #00ad9f url(#) center center no-repeat;
        border-color: #00ad9f;
    }

    .label {
        color: rgba(14, 30, 37, .54);
        font-weight: 500;
    }

    .floating-labels .label {
        display: block;
        margin-top: .382em;
        pointer-events: none;
        transform: translate3d(1em, calc(2em + 2px), 0);
        transition: .2s ease;
    }

    .floating-labels .label-select {
        background-color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 2.6em - 2px);
    }

    .floating-labels .floating .label {
        background-color: transparent;
        transform: scale(.75) translate3d(-16%, 0, 0);
        width: auto;
    }

    .floating-labels .form-field {
        margin: 0;
    }

    .floating-labels .form-footer {
        margin-top: 2em;
    }

    .form-title {
        margin-top: 0;
    }

    .form-inline.floating-labels > .form-field, .form-inline > .form-field {
        margin-right: .5em;
    }

    .form-inline .form-field {
        flex-grow: 1;
    }

    .form-inline button {
        border: 2px solid transparent;
        font-size: 1em;
    }

    form p.form-notice {
        font-size: .7rem;
        margin-top: 1.2rem;
    }

    .form-field-icon.form-field-icon {
        background-position: 95% 50%;
    //    background-position: bottom 50% right .6em;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        padding-right: 2em;
    }

    .form-tag:not(:last-child) {
        margin-right: .5em;
    }

    html:not(.js) a[href][data-formlink] {
        color: inherit;
        cursor: default;
        font-weight: inherit;
        pointer-events: none;
        text-decoration: none;
    }


    .card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 40px rgba(14, 30, 37, .16);
        color: rgba(14, 30, 37, .8);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: .8rem;
        max-width: 23.224em;
    //  moz-osx-font-smoothing: auto;
        padding: 1.618em;
        position: relative;
        text-align: left;
        text-shadow: none;
    //  webkit-font-smoothing: subpixel-antialiased;
        z-index: 10;
    }

    .card > * {
        margin-left: 0;
        margin-right: 0;
    }

    .card header > :first-child, .card > :first-child {
        margin-top: 0;
    }

    .card footer, .card header {
        color: rgba(14, 30, 37, .54);
    }

    .card .h1, .card .h2, .card .h3, .card .h4, .card .h5, .card .h6, .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
        color: #0e1e25;
    }

    .card p {
        margin-top: .382em;
    }

    .card footer {
        margin-top: auto;
    }

    .card footer p {
        margin-top: 1.618em;
    }

    .card .button {
        display: block;
        width: 100%;
    }

    .card .cta-link {
        color: #00ad9f;
        margin-top: .382em;
    }

    .card li, .checked-list li {
    // listColor: rgba(14, 30, 37, 0.87);
        margin-top: .618em;
        padding-left: 1.618em;
        position: relative;
        text-align: left;
    }

    .card li:first-child, .checked-list li:first-child {
        margin-top: 0;
    }

    .card li::before, .checked-list li::before {
    / / background-color: none;
        border-radius: 50%;
        color: #fff;
        content: "✓";
        display: block;
        font-size: .618em;
        font-weight: 600;
        height: 1.618em;
        left: 0;
        line-height: 1.75;
        position: absolute;
        text-align: center;
        top: .382em;
        width: 1.618em;
    }

    .gradient {
        background-color: #080067;
        background-image: linear-gradient(0deg, rgba(0, 7, 88, .8), #080067);
        overflow: hidden;
        text-shadow: 0 2px 20px rgba(0, 0, 0, .16);
    }

    .gradient::after, .gradient::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
    }

    .gradient::before {
        background: radial-gradient(#650075 12.18%, rgba(85, 15, 100, 0) 73.53%);
        height: 200%;
        right: -30%;
        top: 0;
        width: 100%;
    }

    .gradient::after {
        background: radial-gradient(#00855d 2.94%, rgba(0, 173, 159, 0) 69.33%);
    }

    .gradient .container {
        z-index: 1;
    }


    .show-btn {
        background: #fff;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        color: #3498db;
        cursor: pointer;
    //  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .show-btn, .cont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="checkbox"] {
        display: none;
    }

    .cont {
        display: none;
        background: #fff;
        width: 410px;
        padding: 30px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    #show:checked ~ .cont {
        display: block;
    }

    .cont .close-btn {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 18px;
        cursor: pointer;
    }

    .cont .close-btn:hover {
        color: #3498db;
    }

    .cont .text {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
    }
}
